<h1>
  Most recent
  <%= image_tag 'divider.png' %>
</h1>
<% @photos_recent_five.each do |photo| %><%= render 'figure', :photo => photo %><% end %>

<h1>
  All
  <%= image_tag 'divider.png' %>
</h1>
<% @photos.each do |photo| %><%= render 'figure', :photo => photo %><% end %>
