<% @photos.each do |photo| %>
  <figure>
    <a title="Show this photo" href="<%= photo_path(photo) %>">
      <%= image_tag photo.url, alt: "#{photo.title}" %>  
    </a>
    <figcaption>
      <span class="title"><%= photo.title %></span>
      <span class="author"><%= photo.author %></span>
    </figcaption>
  </figure>
<% end %>
